<a href="https://colab.research.google.com/github/jdpaezr/R1/blob/main/Linear_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
path='https://raw.githubusercontent.com/jdpaezr/R1/main/Datasets-main/datasets/reg_data.csv'
import pandas as pd
import numpy as np
df=pd.read_csv(path)
df.head()

   Gender  Salary   Age  Place  Weight Company   Education  JoinYear
0  Female  1300.0  35.0    1.0    80.0     BMW    Bachelor      2008
1  Female  1250.0  33.0    1.0    82.5    Ford  HighSchool      2010
2    Male  2200.0  34.0    2.0   100.8     BMW    Bachelor      2004
3    Male  2100.0  42.0    2.0    90.0     BMW      Master      2000
4  Female  1500.0  29.0    1.0    67.0    Ford      Master      2010

In [13]:
df.isnull().any()

Gender        True
Salary        True
Age           True
Place         True
Weight        True
Company       True
Education     True
JoinYear     False
dtype: bool

In [14]:
df.isnull().any() #Limpìar base de datos

Gender        True
Salary        True
Age           True
Place         True
Weight        True
Company       True
Education     True
JoinYear     False
dtype: bool

In [15]:
df

    Gender  Salary   Age  Place  Weight Company   Education  JoinYear
0   Female  1300.0  35.0    1.0    80.0     BMW    Bachelor      2008
1   Female  1250.0  33.0    1.0    82.5    Ford  HighSchool      2010
2     Male  2200.0  34.0    2.0   100.8     BMW    Bachelor      2004
3     Male  2100.0  42.0    2.0    90.0     BMW      Master      2000
4   Female  1500.0  29.0    1.0    67.0    Ford      Master      2010
5   Female  1700.0  42.0    3.0    60.0    Ford      Master      2000
6     Male  3000.0  50.0    3.0    77.0    Ford  HighSchool      2010
7     Male  3000.0  55.0    3.0    77.0    Ford    Bachelor      2010
8   Female  2800.0  31.0    2.0    87.0    Ford    Bachelor      2004
9     Male  2900.0  46.0    2.0    70.0      GM      Master      2008
10  Female  2780.0  36.0    3.0    57.0     BMW  HighSchool      2009
11    Male  2550.0  48.0    2.0    64.0      GM      Master      2004
12  Female     NaN  31.0    2.0    87.0    Ford    Bachelor      2009
13    Male  2900.0   NaN    2.0    70.0      GM      Master      2010
14  Female  2780.0  36.0    NaN    57.0     BMW  HighSchool      2010
15    Male  2550.0  48.0    2.0     NaN      GM      Master      2000
16    Male  2550.0  48.0    2.0    64.0     NaN      Master      2000
17    Male  2550.0  48.0    1.0    64.0      GM         NaN      2000
18     NaN  2550.0  48.0    1.0    64.0      GM      Master      2009

### What is the salary of a person of 33 years of age?
Salary=b0+bi*Age

In [16]:
favs= ['Salary','Age']
ndf=df[favs]
ndf.isnull().any()

Salary    True
Age       True
dtype: bool

In [17]:
ndf=ndf.dropna()
ndf.isnull().any()

Salary    False
Age       False
dtype: bool

In [18]:
ndf.shape

(17, 2)

In [20]:
import statsmodels.api as sm
from sklearn import linear_model

In [25]:
X = pd.DataFrame(ndf['Age'])
y = pd.DataFrame(ndf['Salary'])
lm=linear_model.LinearRegression()
model_lm=lm.fit(X,y)
model_lm

LinearRegression()

In [29]:
print('intercept is ',model_lm.intercept_)
print('coeficient is ',model_lm.coef_)

intercept is  [606.34509569]
coeficient is  [[41.96351675]]

Salary = B0 + B1*Age

Salary= 606.34509569 + 41.96351675*Age

In [30]:
print('Salary of a person that is 33 years old is:', 606.34509569 + 41.96351675*33)

Salary of a person that is 33 years old is: 1991.14114844

In [ ]:
ndf

In [34]:
modelA = sm.OLS.from_formula('Salary ~ Age', data = ndf).fit()
modelA.summary()

/usr/local/lib/python3.10/dist-packages/scipy/stats/_stats_py.py:1806: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=17
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Salary   R-squared:                       0.317
Model:                            OLS   Adj. R-squared:                  0.272
Method:                 Least Squares   F-statistic:                     6.966
Date:                Fri, 08 Mar 2024   Prob (F-statistic):             0.0186
Time:                        20:29:02   Log-Likelihood:                -128.66
No. Observations:                  17   AIC:                             261.3
Df Residuals:                      15   BIC:                             263.0
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    606.3451    674.058      0.900      0.383    -830.376    2043.066
Age           41.9635     15.900      2.639      0.019       8.074      75.853
==============================================================================
Omnibus:                        0.097   Durbin-Watson:                   1.273
Prob(Omnibus):                  0.953   Jarque-Bera (JB):                0.315
Skew:                           0.084   Prob(JB):                        0.854
Kurtosis:                       2.354   Cond. No.                         236.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [35]:
print('Salary of a person that is 33 years old is:', 606.3451 + 	41.9635*33)

Salary of a person that is 33 years old is: 1991.1406000000002

In [38]:
modelA.fittedvalues.describe()

count      17.000000
mean     2356.470588
std       329.007321
min      1823.287081
25%      2075.068182
50%      2368.812799
75%      2620.593900
max      2914.338517
dtype: float64

In [40]:
modelA.resid.describe()

count    1.700000e+01
mean     6.687461e-14
std      4.828079e+02
min     -7.750682e+02
25%     -2.688128e+02
50%     -7.059390e+01
75%      2.954791e+02
max      8.927859e+02
dtype: float64